@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-MediumItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

body {
  font: 14px/24px "Cera Pro", sans-serif;
  color: #3d3d3d;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.header .container {
  display: flex;
  align-items: center;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.header {
  font-size: 0;
  border-bottom: 1px solid rgba(70, 163, 88, 50%);
  padding-top: 30px;
  padding-bottom: 17px;
  margin-bottom: 12px;
}

.logo,
.header-nav,
.btn {
  font-size: 16px;
}

.header-nav_list {
  display: flex;
  text-transform: capitalize;
  list-style-type: none;
  justify-content: center;
}
.header-nav_list li {
  padding: 0 25px;
}

.plantsinfo_list li {
  display: inline-block;
  margin-right: 37px;
}
.plantsinfo_list {
  /* flex: 1; */
  padding: 0;
}

.header-nav_list .active {
  font-weight: 700;
}

.blog-item a,
.plantsinfo_list a,
.header-nav_list a {
  text-decoration: none;
  color: #3d3d3d;
}

.logo {
  width: 150px;
}

.btn {
  display: inline-block;
  min-width: 100px;
  background: #46a358;
  color: #fff;
  border: 1px solid #46a358;
  border-radius: 6px;
  padding: 6px 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}
.btn:hover {
  background: #fff;
  color: #46a358;
}
.btn:hover img {
  display: none;
}

.header-nav {
  width: calc(100% - 250px);
  flex-grow: 1;
}

/* benner-style */
.banner {
  font-size: 16px;
  padding: 30px;
  background: rgba(245, 245, 245, 0.5);
  margin-bottom: 50px;
  display: flex;
  flex-basis: 55%;
  align-items: center;
  justify-content: space-between;
}
.banner_text,
.banner_img {
  width: 62%;
}

.title-add {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner_img {
  text-align: center;
  width: 37%;
}
.greentxt {
  color: #46a358;
}

.banner h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 900;
  margin: 0 0 10px;
  line-height: 1;
}
.banner h1 + p {
  font-weight: 300;
  color: #727272;
  margin-top: 0;
  margin-bottom: 44px;
}
.banner {
  padding: 6px 10px;
  min-width: 140px;
}

/* post container */
.post-container {
  padding: 30px 0;
  display: flex;
  margin-bottom: 90px;
}

.sidebar {
  padding: 14px 18px;
  font-size: 15px;
  flex-basis: 310px;
  flex-shrink: 0;
  background: rgba(245, 245, 245, 0.5);
  display: flex;
  flex-direction: column;
}
.sidebar + .content {
  width: calc(100% - 360px);
  float: right;
  padding-left: 50px;
}
.aside-list {
  text-transform: capitalize;
  list-style-type: none;
  padding: 0 0 0 20px;
}
.aside-list a {
  text-decoration: none;
  font-size: 15px;
  line-height: 2.6;
  color: #3d3d3d;
}

.aside-list a.active,
.plantsinfo_list a.active {
  color: #46a358;
  font-weight: 700;
}
.header-nav_list a:hover,
.blog-item a:hover,
.aside-list a:hover,
.plantsinfo_list a:hover {
  color: #46a358;
}
.sidebar h4 {
  margin-top: 0;
  padding: 0 10px;
  font-size: 18px;
}
.sidebar-ad {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.sidebar-ad img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.plantsinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .plantsinfo_list, */
.sort {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
}

.sort select {
  border: none;
  outline: none;
  background: none;
}

.product_img {
  background: rgba(245, 245, 245, 0.5);
  display: block;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_item h5 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.product_item h5 {
  text-transform: capitalize;
}
.info-sale {
  position: absolute;
  font-style: 16px;
  font-weight: 500;
  background: #46a358;
  color: white;
  padding: 0 6px;
}
.product_item {
  position: relative;
}

.product-icons {
  display: flex;
  justify-content: center;
  gap: 26px;
  bottom: 52px;
  position: absolute;
  transform: translateX(50%);
  z-index: 2;
  visibility: hidden;
}
.icon {
  cursor: pointer;
}
.product_item:hover .product-icons {
  visibility: visible;
}

/* plant card */
.plant-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
}
.plant-card li {
  margin-bottom: 70px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 18px;
  color: #46a358;
  font-weight: 700;
}
.new-price {
  position: relative;
}

.old-price {
  position: absolute;
  margin-left: 16px;
  font-size: 18px;
  color: rgba(165, 165, 165, 1);
  text-decoration: line-through;
}
/* pagination */
.pages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pages li {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages li.active a,
.pages a:hover {
  background: #46a358;
  color: #fff;
}
.pages a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #727272;
  text-decoration: none;
  color: inherit;
}

/*  Plants card  without sidebar Section 2*/
.plant-card_s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-bottom: 130px;
}
.plant-item_s2 {
  display: flex;
  align-items: center;
  padding: 30px;
  background: rgba(245, 245, 245, 0.5);
}
.plant-item_s2 img {
  flex-basis: 61%;
  flex-shrink: 0;
}
.plant-info {
  text-align: right;
}
.plant-info p {
  margin-top: 0;
  margin-bottom: 25px;
}
.plant-info h3 {
  margin-top: 0;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
}
.plant-item_s2 img {
  margin-top: -85px;
}
.plant-info a {
  padding: 11px 28px;
}
/* Our Blog Posts */
.blog {
  text-align: center;
  margin-bottom: 35px;
}
.blog h2 {
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
}
.blog-item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 44px;
}
.blog-item li {
  width: 25%;
  background: rgba(245, 245, 245, 0.5);
}
.card-date {
  color: #46a358;
  font-size: 14px;
  font-weight: 500;
}
.blog-item h3 {
  font-size: 20px;
  font-weight: 700;
}
.blog-item a {
  font-weight: 500;
}
.card-content {
  padding: 8px 13px;
}
.blog-img img {
  width: 268px;
  height: 200px;
  object-fit: cover;
}

/*Registration form*/
.registration-container {
  width: 500px;
  height: 656px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-family: "Cera Pro", Arial, sans-serif;
}
.login-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #3d3d3d;
}
.separator {
  color: #ccc;
}
.registration {
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: green;
}
.registration-description {
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  font-family: sans-serif;
  color: #3d3d3d;
  padding: 20px;
}
.registration-form {
  width: 300px;
  margin: auto;
}
.input-field {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.register-button {
  width: 100%;
  height: 45px;
  font-size: 16px;
  color: white;
  background-color: #46a358;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}
.divider {
  width: 300px;
  margin: 20px auto;
  text-align: center;
  align-items: center;
  display: flex;
}
.line {
  flex: 1;
  height: 1px;
  background-color: #ccc;
  border: none;
  margin: 0 10px;
}
.devider-text {
  font-size: 14px;
  color: #555;
}
.social-buttons {
  width: 300px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
.social-button {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}
